.modal_overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0px 10px;
  top: 20px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
@media (min-width: 480px) {
  .modal_overlay {
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.modal_window {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 480px) {
  .modal_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    border-radius: 20px;
  }
}

.close_btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  /* @media (max-width: 767px) {
        display: none;
    } */
}
